
.shop {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 18px;
    padding: 15px;
}
.shopInfo {
}
.shopName {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}
.tmallImg {
    width: 30px;

}
.icon {
    width: 40px;
    vertical-align: middle;
}
.shopDesc {
    background-color: #EFEFEF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
}
.goods {

}
.goodsFirstDiv {
    display: block;
    width: 70%;
    overflow: hidden;
    float: left;
}
.goodsSecondDiv {
    display: block;
    height: 50%;
    overflow: hidden;
}
.goodImg {
    width: 100%;
}
