.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.cell { 
  border:solid 1px white;
  width:50px;
  height:50px;
  background-color:darkgreen;
  display:inline-block;
  vertical-align:bottom;
  position: relative;
  /* 视距 */
  perspective: 1000px;
}


.cell.black::after {
  content: " ";
  border-radius:20px;
  width:40px;
  height:40px;
  margin-top:5px;
  margin-left:5px;
  background-color:black;
  display: block;
}

.cell.white::after {
  content: " ";
  border-radius:20px;
  width:40px;
  height:40px;
  margin-top:5px;
  margin-left:5px;
  background-color:white;
  display: block;
}

.step.black::before { 
  content: " ";
  width: 30px;
  height: 2px;
  left: 10px;
  top: 50%;
  background-color:black;
  display: block;
  position: absolute;
}

.step.black::after {
  content: " ";
  width: 2px;
  height: 30px;
  left: 40%;
  top: 6px;
  background-color:black;
  display: block;
  position: absolute;

}

.step.white::before {
  content: " ";
  width: 30px;
  height: 1px;
  left: 10px;
  top: 50%;
  background-color:white;
  display: block;
  position: absolute;
}

.step.white::after {
  content: " ";
  width: 1px;
  height: 30px;
  left: 40%;
  top: 6px;
  background-color:white;
  display: block;
  position: absolute;
}

