.tab-container{
  display: flex;
}
.carousel-container{
  width: 100%;
  overflow: hidden;
}
.carousel-wrapper{
  display: flex;
}
.carousel-item{
  flex:0 0 auto ;
  width: 100%;
  border: 1px solid #ccc;
}