.carousel {
    width: calc(100vw - 34px);
    height: 164px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 23px;
}
.carousel > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    /*transition:ease 0.5s;*/
    border-radius: 12px;
}

