<script src="../carousel/gesture/gesture.js"></script>
<script src="../carousel/thirdVersion/animation.js"></script>
<body>
    <div id="body"></div>
</body>
<script src="./../dist/main.js"></script>
<!--<script>
    const a = new Carousel()
    a.width = '500'
    a.height = '300'
    a.images = ['https://static001.geekbang.org/resource/image/bb/21/bb38fb7c1073eaee1755f81131f11d21.jpg',
        'https://static001.geekbang.org/resource/image/1b/21/1b809d9a2bdf3ecc481322d7c9223c21.jpg',
        'https://static001.geekbang.org/resource/image/73/e4/730ea9c393def7975deceb48b3eb6fe4.jpg']
    a.addEventListener('click', () => {
        console.log('clickMe')
    })
    a.init(document.getElementById('body'))
</script>-->
