.page-header {

    .head-bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 732px;
        background-image: url(../assets/header-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .header-main {
        position: relative;
        z-index: 200;
        padding: 0 40px;
        padding-top: 145px;
        height: 90px;
        display: flex;
        align-items: center;
        .icon {
            position: relative;
            z-index: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53px;
            height: 53px;
            font-size: 50px;
            color: #fff;
        }
        .center {
            position: absolute;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu {
            color: #fff;
            margin-left: 70px;
        }
    }
}

