<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./component.js"></script>
</head>
<body>
    <script>
        let c = new Carousel();
        // c.setAttribute("width", 1);   
        c.appendTo(document.body);
        c.addEventListener("widthchange", () => {
            c.log();
        });
    </script>
</body>
</html>