// $colors: red, orange, yellow, green, blue, purple;
// $repeat: 20;

// @for $i from 1 through $repeat {
//     div.scroll:nth-child(#{$i}) {
//         background: lighten(nth($colors, random(length($colors))), 20%);
//     }
// }

.scroll {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    background: rgba(238, 238, 238, 1.00);
}

// .active {
//     height: 100%;
//     width: 100%;
//     display: inline-block;
//     vertical-align: top;
// }

.footer {
    background: rgba(238, 238, 238, 1.00);
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}