.carousel {
    width: 500px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.carousel > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: linear 0.5s;
}