
.itemContainer {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px 18px;
    background: rgba(254,254,254,1);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.itemHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.itemLogo {
    width: 52px;
    height: 52px;
    display: inline-block;
}

.itemTitle {
    margin-left: 8px;
    flex-shrink: initial;
}
.itemTitle .itemName {
    font-size:12px;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:10px;
}

.itemTitle .itemType {
    background:rgba(238,5,7,1);
    border-radius:15px;
    font-size: 12px;
    color: white;
    padding: 2px 6px;
    align-self: flex-start;
}

.icon {
    border-radius: 50%;
}

.itemEntry {
    padding: 3px 12px 3px 16px;
    background: linear-gradient(-90deg,rgba(255,172,0,1),rgb(250, 218, 104));
    border-radius:18px;
    display: inline-flex;
    align-items: center;
}

.entryName {
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:10px;
    
}

.arrow_right {
    // fill: rgba(255,255,255,1);
    filter: contrast(200%);

}

.titleContainer {
    margin-top: 13px;
    padding: 12px 13px;
    background:rgba(245,245,245,1);
    border-radius:8px;
    display: inline-flex;
    align-items: center;
}

.shop {
    background:linear-gradient(90deg,rgba(255,172,0,1),rgba(254,201,0,1));
    border-radius:50%;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemPromotion {
    font-size:12px;
    font-family:PingFang SC;
    font-weight:300;
    color:rgba(51,51,51,1);
    line-height:10px;
    margin-left: 9px;
}

.itemContent {
    margin-top: 15px;
    flex-direction: row;
    display: flex;
    
}

.itemContent .left {
    width: 66%;
    margin-right: 4px;
}
.itemContent .right {
    width: 33%;
    flex-direction: column;
    display: inline-flex;
}

.itemContent .rightTop {
    margin-bottom: 4px;
}

.rounded {
    border-radius: 18px;
}

.itemFooter {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    
}

.itemFooter .footerName {
    font-size:12px;
    font-family:PingFang SC;
    font-weight:300;
    color:rgba(136,136,136,1);
    line-height:12px;
}
