.tabContainer {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    background: lightblue;
}

.headerContainer {
    height: 48px;
}

.contentContainer {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

.headerItem {
    display: inline-block;
    height: 40px;
    font-family: 'PingFang SC';
    font-size: 24px;
    font-weight: 300;
    color: white;
    border-bottom: none;
    line-height: 35px;
    padding: 4px 10px;
}

.headerItem.active {
    font-weight: 500;
}

.headerIndicator {
    width: 25px;
    height: 6px;
    background-color: white;
    border-radius: 3px;
    margin: auto;
}
