.classBox {
    width: 50px;
    height: 50px;
    background: green;
    display: inline-block;
    border: 1px solid #ffff;
    vertical-align: middle;
}

.classP {
   display: block;
   margin: 0;
   height: 1px;
}


.classWhiteDisc {
    width: 50px;
    height: 50px;
    background: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.classBlackDisc {
    width: 50px;
    height: 50px;
    background: black;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
