.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.15rem 0.2rem;
  border: 1px solid grey;
  border-radius: 0.15rem;
  .list-item_content {
    margin: 0em 1em 0.5em 1em;
    color: #333333;
    font-size: 0.8em;
  }
}
