<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>carousel</title>
	<style>
		.carousel {
			width: 500px;
			height: 300px;
			overflow: hidden;
			white-space: nowrap;
		}

		.carousel > img {
			width: 100%;
			height: 100%;
			display: inline-block;
			transition: ease 0.5s;
		}
	</style>
</head>
<body>
<script type="module">
	import Carousel from './carousel.js';
	let carousel = new Carousel();
	carousel.appendTo(document.body, [
		"https://static001.geekbang.org/resource/image/bb/21/bb38fb7c1073eaee1755f81131f11d21.jpg",
		"https://static001.geekbang.org/resource/image/1b/21/1b809d9a2bdf3ecc481322d7c9223c21.jpg",
		"https://static001.geekbang.org/resource/image/b6/4f/b6d65b2f12646a9fd6b8cb2b020d754f.jpg",
		"https://static001.geekbang.org/resource/image/73/e4/730ea9c393def7975deceb48b3eb6fe4.jpg"
	]);
</script>
</body>
</html>
