* {
  margin: 0;
}
.chessboard_item {
  background-color: darkgreen;
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: bottom;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: relative;
}

.chess--black::after,
.chess--white::after {
  content: "";
  display: black;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.chess--black::after {
  background-color: black;
}
