.shop-large .shop{
    width :100%;
    padding:38px 30px 120px 30px;
    background-color:#ffffff;
    margin-top:38px;
    box-sizing: border-box;
    border-radius:35px;
}
.shop-large  .shop .shop-top{
    width:100%;
    height:105px;
}
.shop-large .shop .shop-top .shop-icon{
    width:105px;
    height:105px;
    float:left;
 }
 .shop-large .shop .shop-top .shop-icon>img{
    width:100%;
    height:100%;
    border-radius:50%;
}
/* .shop-large .shop .shop-top .shop-name:before{
    content:'';
    display:block;
    height:0;
    visibility: hidden;
    clear:both;
 } */
 .shop-large .shop .shop-top .shop-name{
    margin-left:15px;
    float:left;     
}
.shop-large .shop .shop-top .shop-name .text{
    font-size:45px;
}
.shop-large .shop .shop-top .shop-name .tag{
    width:75px;
    height:35px;
    background-color: #ee0507;
    border-radius:18px;
    font-size:26px;
    color:#ffffff; 
    text-align: center;
    margin-top: 10px;
}
.shop-large .shop .shop-top .shop-in{
    width:160px;
    height:73px;
    font-size:37px;
    text-align: center;
    line-height:73px;
    color:#ffffff;
    border-radius:32px;
    background-color: #feb300;
    float:right;
}
.shop-large .shop .shop-meddle{
    width:100%;
    line-height: 100px;
    background-color: #f5f5f5;
    margin-top:22px;
    border-radius: 15px;
}
.shop-large .shop .shop-meddle .icon{
    width:58px;
    height:58px;
    display: inline-block;
    background-image : url('../../image/icon.png');
    margin-left:25px;
    vertical-align: middle;
}
.shop-large .shop .shop-meddle .text{
    font-size: 36px;
    margin-left:15px;
}
/* .shop-large .shop .shop-meddle .icon>img{
    width:100%;
    height:100px;
} */
.shop-large .shop .shop-bottom{
    width:100%;
    height:627px;
    margin-top:30px;
}
.shop-large .shop .shop-bottom .big-img{
    width:627px;
    height:627px;
    float:left; 
}
.shop-large .shop .shop-bottom .small-img{
    width:310px;
    height:627px;
    float:right; 
}
.shop-large .shop .shop-bottom .small-img .top-img{
    width:310px;
    height:310px;
    margin-bottom:7px;
}
.shop-list .shop .shop-bottom .small-img .bottom-img{
    width:310px;
    height:310px;
}
.shop-large .shop .shop-bottom .big-img>img,
.shop-large .shop .shop-bottom .small-img .top-img>img,
.shop-large .shop .shop-bottom .small-img .bottom-img>img{
    width:100%;
    height:100%;
    border-radius:20px;
}
.shop-large .shop .shop-like{
    font-size: 31px;
    color:#989898;
    margin-top:30px;
    float:right;
}
.shop-large .shop .shop-like:after{
    content:'';
    display:block;
    height:0;
    visibility: hidden;
    clear:both;
}