.Header {
    background: #7424fd;
    width: 100%;
    height: 240px;
}

.Header-navSection {
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-titleImg {
    width: 72px;
    height: 21px;
}
