.header {
    font-size: 0.36rem;
    overflow: hidden;
    color: #fff;
    background: url(../image/bg1.jpg)no-repeat;
    background-size: 100% auto;
    width: 100%;
    padding-top: 2rem;
    border: solid 1px #5b0cf1;
}

.bg2 {
    background: url(../image/bg2.jpg)no-repeat;
    background-size: 100% auto;
    width: 100%;
    /* background-attachment: relative;
    background-size: cover;
    background-position: center; */
}

.header div {
    float: left;
    margin: 0.2rem;
}

.active {
    font-weight: bold;
    border-bottom: solid 2px #fff;
}

.Carousel {
    margin: 0.6rem 0;
}

.carousel-content {
    width: 7rem;
    height: 4.29rem;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.carousel-content a {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: ease 0.6s;
}

.carousel-content a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tab1-title {
    font-size: 0.46rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 0.35rem;
    margin: 0 0 0.4rem 0.34rem;
}

.clearfix::after {
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
}

.page2-top .page2-title {
    color: #FFFFFF;
    font-size: 0.32rem;
    font-family: PingFangSC;
    font-weight: 500;
    float: left;
    margin-left: 0.25rem;
}

.page2-top .page2-selected {
    float: right;
    display: flex;
    margin-right: 0.25rem;
    background: #fff;
    border-radius: 0.21rem;

}

.page2-top .page2-selected .item {
    font-size: 0.24rem;
    font-family: PingFangSC;
    font-weight: 400;
    color: rgba(255, 134, 63, 1);
    border-radius: 0.21rem;
    padding: 0.02rem 0.18rem;
    background: #fff;
    ;
}

.page2-top .page2-selected .action {
    background: linear-gradient(90deg, rgba(253, 147, 1, 1), rgba(250, 129, 1, 1));
    color: #fff;
}