.container {
  width: 600px;
  height: 400px;
  margin: 10px auto;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  white-space: nowrap;
  outline: 1px solid red;
}
.container > img {
  width: 100%;
  height: 100%;
}