.panel {
    //float: right;
}

.color {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid;
    vertical-align: middle;
    &__white {
        background: #fff;
    }
    &__black {
        background: #333;
    }
}
