
.favItem {
    border-radius: 18px;
    background: rgba(254,254,254,1);
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
}

.favItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    .itemTitle {
        margin-left: 8px;
        .itemName {
            font-size:12px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:12px;
        }

        .itemType {
            background:rgba(238,5,7,1);
            border-radius:15px;
            font-size: 10px;
            color: white;
            padding: 2px 4px;
            align-self: flex-start;
        }
    }
}

.favContent {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 45%);
    grid-auto-rows: 50;
    gap: 10px;

    .rounded {
        border-radius: 10px;
    }
}
