.shop-medium {
    width :100%;
    height:670px;
    margin-bottom:20px;
}
.shop-medium .shop .shop-img{
    width:100%;
    overflow:hidden;
}
.shop-medium .shop .shop-img .big-img{
    width:670px;
    height:670px;
    float:left; 
}
.shop-medium .shop .shop-img .small-img{
    width:325px;
    height:670px;
    float:right; 
}
.shop-medium .shop .shop-img .small-img .top-img{
    width:325px;
    height:330px;
    margin-bottom:10px;
}
.shop-medium .shop .shop-img .small-img .bottom-img{
    width:325px;
    height:330px;
}
.shop-medium .shop .shop-img .big-img>img,
.shop-medium .shop .shop-img .small-img .top-img>img,
.shop-medium .shop .shop-img .small-img .bottom-img>img{
    width:100%;
    height:100%;
    border-radius:20px;
}