.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-left: 43px;
    padding-right: 43px;
}

.background{
    position: absolute;
    width: 100%;
    height: 218px;
    z-index: 0;
}

.headerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fenxiangImg{
    padding-right: 69px;
}