.carousel {
    margin: 30px auto;
    max-width: 800px;
}

.carousel .panels {
    position: relative;
    height: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel .panels > a {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    /* 图片不变形 */
    object-fit: cover;
}

.carousel .panels > a:first-child {
    z-index: 10;
}

.carousel .panels img {
    width: 100%;
    height: 100%;
}

.carousel .dots {
    text-align: center;
}

.carousel .dots > span {
    width: 6px;
    height: 4px;
    border-radius: 2px;
    background: #ddd;
    display: inline-block;
    transition: width .3s;
    cursor: pointer;
}

.carousel .dots span.active {
    background: #aaa;
    width: 10px;
}

.carousel .action {
    display: flex;
    font-size: 12px;
    color: #666;
    align-items: center;
    margin-top: 10px;
}

.carousel .action .pre {
    order: 1;
    cursor: pointer;
}

.carousel .action .next {
    order: 3;
    /* 表示可点 */
    cursor: pointer;
}

.carousel .action .dots {
    order: 2;
    /* flex: 1 撑满 */
    flex: 1;
}
