.filename.root{
  width: 100%;
  height: 110px;
}

.container {
    width: 100%;
    height: 100%;
}

.left-img {
  width: 110px;
  height: 110px;
}

.describe{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.describe-text{
  font-size: 40px;
  display: block;
}

.describe-img{
  width: 80px;
  height: 38px;
  margin-top: 17px;
}

.right-img{
  width: 162px;
  height: 72px;
  float: right;
  margin-top: 19px;
}