.filename.root {
  width: 100%;
  height: 110px;
}

.container {
    width: 100%;
    height: 100%;
}

.left-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.describe {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.describe-text {
  font-size: 40px;
  display: block;
}

.describe-img {
  height: 38px;
  margin-top: 17px;
}

.right-img {
  width: 162px;
  height: 72px;
  float: right;
  background-size: cover;
  margin-top: 19px;
  font-size: 38px;
  text-align: center;
  line-height: 72px;
  color: #fff;
}

.right-img-span {
    font-size: 16px;
}