.filename.root {
    width: 100%;
    height: 100px;
}

.container {
    width: 100%;
    height: 100%;
}


.list-bottom {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start space-between;
    flex-shrink: 0;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
}

.list-bottom-left {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-flow: row wrap;
    align-content: flex-start;
    flex-shrink: 0;
    width: 80%;
    padding-top: 3.312px;
    overflow: hidden;
    margin-top: 0px;
    height: 80px;
}

.list-bottom-right {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start space-between;
    flex-shrink: 0;
    width: 20%;
    height: 80px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}

.list-bottom-right-span {
    white-space: pre-wrap;
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    font-size: 34px;
    color: rgb(170, 170, 170);
}

.list-bottom-right-img {
    display: flex;
    width: 24px;
    height: 34px;
}
