html,
body {
  margin: 0;
  padding: 0;
}
.grid {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  display: inline-flex;
  border: 1px solid #fff;
  vertical-align: middle;
}
.white,
.black,
.tips {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
}
.white {
  background-color: #fff;
}
.black {
  background-color: #000;
}
.tips {
  width: 30px;
  height: 30px;
  background: red;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}
