.board {
    width: 260px;
    height: 260px;
    vertical-align: middle;
    margin-bottom: 20px;
}
.grid {
    vertical-align: center;
    width: 30px;
    height: 30px;
    background-color: bisque;
    display: inline-block;
}
