<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      margin: 0;
    }

    #app {
      margin: 0 auto;
      font-size: 0;
      width: 800px;
    }

    .chess {
      background-color: skyblue;
      border: 1px solid #fff;
      display: inline-block;
      height: 98px;
      width: 98px;
    }

    .white::after,
    .black::after

    /* .optional::after  */
      {
      border-radius: 50%;
      content: '';
      display: inline-block;
    }

    .white::after,
    .black::after {
      height: 100%;
      width: 100%;
    }

    .white::after {
      background-color: #fff;
    }

    .black::after {
      background-color: #000;
    }

    .optional::after {
      height: 20px;
      width: 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <template v-for="(row, i) in board">
      <div v-for="(v, j) in row" class="chess" :class="{black: v === 1, white : v === 2}"
        @click="playChess(i, j, color, false)">
      </div>
    </template>
    <button @click="revert">悔棋</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        map: [
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 1, 2, 0, 0, 0],
          [0, 0, 0, 2, 1, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0],
          [0, 0, 0, 0, 0, 0, 0, 0]
        ],
        color: 1,
        maps: [],
      },
      methods: {
        playChess(i, j, color, checkOnly) {
          console.log('click'); // 悔棋有bug 需要调试
          let rgb = color;
          const result = this.dropChess(i, j, color, checkOnly);
          if ( result === 'undefined' || result === false) {
            return alert('此处不可落子');
          };
          rgb = 3 - rgb;
          if (this.checkPass(rgb)) {
            rgb = 3 - rgb;
            if (this.checkPass(rgb)) {
              alert('Game Over')
            }
          } else {
            this.color = 3 - color;
          }
        },
        dropChess(i, j, color, checkOnly) {
          // 当前落子的地方有子
          if (this.map[i][j] > 0) {
            return;
          }
          // right j-- i0
          // left j++ i0
          // top j0 i++
          // top j0 i--
          // leftbot i++ j++
          // lefttop i-- j--
          // righttop i-- j++
          // rightbottom i++ j--
          const directions = [
            { x: -1, y: 0 },
            { x: 1, y: 0 },
            { x: 0, y: 1 },
            { x: 0, y: -1 },
            { x: 1, y: 1 },
            { x: -1, y: -1 },
            { x: 1, y: -1 },
            { x: -1, y: 1 },
          ];
          let moveSuccess = false;
          for (direction of directions) {
            let canmove = false;
            let [x, y] = [j, i];
            while (true) {
              // 边界
              x += direction.x;
              y += direction.y;
              if (x < 0 || x >= this.map.length || y < 0 || y >= this.map.length) {
                canmove = false;
                break;
              }
              // canmove是用来渲染棋子颜色的
              if (this.map[y][x] === 3 - color) { // 当前颜色相反的就可以移动
                canmove = true
              } else if (this.map[y][x] === color) { // 相同的就停止
                break;
              } else if (this.map[y][x] === 0) { // 空直接中止
                canmove = false
                break;
              }
            }
            // 判断是否是检测
            moveSuccess = moveSuccess || canmove; // canmove在checkonly装态下即为moveSuccess
            while (canmove && !checkOnly) {
              x -= direction.x;
              y -= direction.y;
              this.$set(this.map[y], x, color);
              if (x === j && y === i) {
                break;
              }
            }
          }
          if (!checkOnly && moveSuccess) {
            this.saveMap(this.map);
          }
          return moveSuccess;
        },
        checkPass(color) {
          for (let i = 0; i < this.map.length; i++) {
            for (let j = 0; j < this.map.length; j++) {
              if (this.dropChess(i, j, color, true)) {
                return false;
              }
            }
          }
          return true;
        },
        saveMap(map) {
          this.maps.push(map.map(line => line.slice()));
        },
        revert() {
          if (this.maps.length > 1) {
            this.maps.pop();
            console.log(this.color);
            this.color = 3 - this.color;
            console.log(this.color);
          }
        }
      },
      computed: {
        board() {
          return this.maps[this.maps.length - 1]
        }
      },
      mounted() {
        this.saveMap(this.map);
      },
    })
  </script>
</body>

</html>